[Unit]
Description=MazuADM API
After=network.target postgresql.service

[Service]
Type=simple
ExecStart=/opt/mazuadm/mazuadm-api /opt/mazuadm
Restart=on-failure

[Install]
WantedBy=multi-user.target
